@page
@model StudentManager_FrontEnd.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<script>
    document.getElementById("logoutbtnid").style.display = "none";
    document.getElementById("edituserbtn").style.display = "none";
</script>
@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="alert alert-info" role="alert">
        @TempData["Message"]
        <span>@ViewData["jwt"]</span>
    </div>
}

<form method="post">
    <div class="form-group">
        <label asp-for="UserDto.Username"></label>
        <input asp-for="UserDto.Username" class="form-control" />
        <span asp-validation-for="UserDto.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserDto.Password"></label>
        <input asp-for="UserDto.Password" type="password" class="form-control" />
        <span asp-validation-for="UserDto.Password" class="text-danger"></span>
    </div>
    <button style="margin-top:10px" type="submit" class="btn btn-primary">Login</button>
</form>

<script>
    var jsonResponse = @Html.Raw(ViewData["ResponseData"]);
    localStorage.setItem('jwtToken', jsonResponse.token);
    setTimeout(() => {
        window.location.href="/Student";
    }, 2500);
</script>
